* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    animation: colorChange 10s infinite;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
}
.logo img {
    
    height: 120px;
    border-radius: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.text-center {
    text-align: center;
}

.my-4 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
button {
    background-color: #3498db;  
    color: #fff;  
    border: none;  
    padding: 10px 20px; 
    text-align: center;  
    text-decoration: none;  
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;  
    border-radius: 4px;  
    transition: all 0.5s ease-out; 
}

button:hover {
    background-color: #1abc9c;  
    color: red;  
}
input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid blue;
    border-radius: 4px;
    transition: all 0.3s ease-out;
}

input:focus {
    outline: none;
    border-color: #1abc9c;
}

#weatherForm {
    display: flex;
    width: 100%;
}

#weatherForm input {
    flex-grow: 1;
    padding: 5px;
}

#weatherForm button {
    padding: 5px 10px;
    margin-left: 5px;
} 
 #weatherForm {
        display: flex;
        flex-direction: column; 
        width: 100%;
        align-items: center;
}

@media only and (max-width:600px) {
    .container {
    padding: 10px;
}

}

h1 {
    animation: colorChangeText 3s infinite;
}

@keyframes colorChangeText {
    0% {color: #1abc9c;}
    25% {color: #3498db;}
    50% {color: #9b59b6;}
    75% {color: #f1c40f;}
    100% {color: #1abc9c;}
}
